<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Django</title>-->
<!--    <style>-->
<!--        .myfield {-->
<!--            border: 2px solid #ccc;-->
<!--            border-radius: 5px;-->
<!--            height: 25px;-->
<!--            width: 200px;-->
<!--            margin: 10px 10px 10px 0;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body class="container">-->
<!--<form method="POST" novalidate>-->
<!--    {% csrf_token %}-->
<!--    <div>-->
<!--        {% for field in form %}-->
<!--            <div class="row">-->
<!--                {{ field.label_tag }}-->
<!--                <div class="col-md-10">{{ field }}</div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <input type="submit" value="Отправить">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moдeли в Django</title>
</head>
<body class="container">
<form method="POST" action="create/">
    {% csrf_token %}
    <p>
        <labal>Введите имя</labal><br>
        <input type="text" name="name" />
    </p>
    <p>
        <label>Введите возраст</label><br>
        <input type="number" name="age" />
    </p>
    <input type="submit" value="Сохранить">
</form>
{% if people.count > 0 %}
<h2>Сnисок пользователей</h2>
<table>
    <thead>
    <th>Id</th><th>Имя</th><th>Boзpacт</th><th></th>
    </thead>
    {% for person in people %}
    <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td><a href="edit/{{ person.id }}">Измeнить</a> |
            <a href="delete/{{ person.id }}">Yдaлить</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>